.collapse {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(85, 85, 255);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.content {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;

  transform: scale(1, 1);
  opacity: 1;
  transition: 300ms cubic-bezier(0.25, 0.8, 0.25, 1);

  &.collapsed {
    transform: scale(1, 0.1);
    opacity: 0;
    transition: 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}
